{% extends "index.html" %}

{% block contend %}
<div class="imageBox">
        <div class="products">
            <img src="/static/adidas.jpg" alt="Тур 1">
            <img src="/static/adidas1.jpg" alt="Тур 1">
            <h2>Adidas ORIG</h2>
            <p>Адидас Campus оригинал </p>
            <p>Новые в коробке</p>
            <p>41-41.5 размер</p>
            <p>10.000 руб</p>
            <a href="/adidas">Купить</a>
        </div>
        <div class="products">
            <img src="/static/earpods.jpg" alt="Тур 2">
            <img src="/static/earpods1.jpg" alt="Тур 2">
            <img src="/static/earpods2.jpg" alt="Тур 2">
            <h2>Earpods ORIG</h2>
            <p>Наушники EarPods (USB⁠-⁠C) в коробке ORIG</p>
            <p>Гарантия 3 месяца 🔥</p>
            <p>Стоимость: 1900 руб</p>
            <a href="/earpods">Купить</a>

        </div>
    </div>
{% endblock %}